nodered/flows.json
[{"id":"dac264a1.7b5108","type":"tab","label":"Full Functional","disabled":false,"info":""},{"id":"6c306ed9.97fbc","type":"mongodb2","z":"","uri":"mongodb://maor:123456@mongoido:27017/maor","name":"maor db","options":"","parallelism":"-1"},{"id":"bd3b1afd.3b72b8","type":"http in","z":"dac264a1.7b5108","name":"[get] test","url":"/api/translate","method":"get","upload":false,"swaggerDoc":"","x":80,"y":20,"wires":[["67718de1.1b1204"]]},{"id":"860c1676.da25e8","type":"google-translate","z":"dac264a1.7b5108","from":"prog","name":"","to":"prog","x":840,"y":140,"wires":[["8597e6a1.af5828"]]},{"id":"b18db5e9.17fdd8","type":"http request","z":"dac264a1.7b5108","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:1880/api/translate/?from=en&to=iw&phrase=bump","tls":"","proxy":"","authType":"basic","x":630,"y":520,"wires":[[]]},{"id":"477fe89d.bef678","type":"inject","z":"dac264a1.7b5108","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":520,"wires":[["b18db5e9.17fdd8"]]},{"id":"67718de1.1b1204","type":"function","z":"dac264a1.7b5108","name":"save oldPayload, set payload as 'from' + 'to' + 'phrase'","func":"msg.oldPayload = {...msg.payload};\nmsg.payload = msg.payload.from +''+ msg.payload.to +''+ msg.payload.phrase;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":20,"wires":[["1a3ef0ce.2c7c4f"]]},{"id":"6ad9878d.4105e8","type":"switch","z":"dac264a1.7b5108","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":140,"wires":[["c7633fe8.1b0d6"],["f67db2f9.72509"]]},{"id":"f67db2f9.72509","type":"function","z":"dac264a1.7b5108","name":"return answer from cache","func":"let myres = {\n    translation: msg.payload.translation,\n    cacheHit: true\n};\nmsg.payload = myres;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":260,"wires":[["271f8fab.53b54"]]},{"id":"c7633fe8.1b0d6","type":"function","z":"dac264a1.7b5108","name":"set old payload to payload","func":"msg.payload = {...msg.oldPayload};\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":100,"wires":[["860c1676.da25e8"]]},{"id":"8597e6a1.af5828","type":"function","z":"dac264a1.7b5108","name":"set id and translation","func":"let toDB = {\n  translation: msg.payload,\n  _id: msg.id\n};\nmsg.payload = toDB;\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":220,"wires":[["e6cfa72.9a72b58","a4726d50.e0bec"]]},{"id":"1a3ef0ce.2c7c4f","type":"hash","z":"dac264a1.7b5108","name":"hash id","outputvar":"hash","algorithm":"sha256","x":660,"y":20,"wires":[["2a860438.78e16c"]]},{"id":"2a860438.78e16c","type":"function","z":"dac264a1.7b5108","name":"save id at msg.id","func":"msg.id = msg.hash;\nmsg.payload = {_id: msg.hash};\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":80,"wires":[["dce234f9.e74048"]]},{"id":"271f8fab.53b54","type":"http response","z":"dac264a1.7b5108","name":"response","statusCode":"200","headers":{},"x":300,"y":380,"wires":[]},{"id":"e6cfa72.9a72b58","type":"function","z":"dac264a1.7b5108","name":"return answer","func":"let myres = {\n    translation: msg.payload.translation,\n    cacheHit: false\n};\nmsg.payload = myres;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":380,"wires":[["271f8fab.53b54"]]},{"id":"dce234f9.e74048","type":"mongodb2 in","z":"dac264a1.7b5108","service":"_ext_","configNode":"6c306ed9.97fbc","name":"","collection":"translate-cache","operation":"findOne","x":180,"y":140,"wires":[["6ad9878d.4105e8"]]},{"id":"a4726d50.e0bec","type":"mongodb2 in","z":"dac264a1.7b5108","service":"_ext_","configNode":"6c306ed9.97fbc","name":"save the cached translate","collection":"translate-cache","operation":"insert","x":1010,"y":340,"wires":[[]]}]
